.FixedOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FixedOptions div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
}

.FixedOptions input[type="checkbox"] {
    width: 1em;
    height: 1em;
}